#avancementDiv {
	background-color: rgba(122, 173, 221, 0.25);
	padding: 10px;
	margin: 3px 0;
}
#avancementDiv h4{
	margin-left:30px;
}

#conteneur {
	display: flex;
	justify-content: stretch;
	flex-wrap: wrap;
}

#enTete {
	background-color: rgba(111, 207, 151, 0.42);
	margin-left: opx;
	margin-top: 0px;
	margin-bottom: 3px;
	display: flex;
}

#enTete img {
	width: 250px;
	display: inline;
}

.col {
	flex-grow: 1;
	background-color: rgba(122, 173, 221, 0.25);
	padding: 40px;
}

.bouton1 {
	background-color: rgba(122, 173, 221, 0.25);
	border: none;
	border-radius: 50%;
	text-decoration: none;
	width: 30px;
	height: 30px;
	margin: 20px 20px;
}

.bouton2 {
	background-color: rgba(122, 173, 221, 0.25);
	border: none;
	border-radius: 50%;
	text-decoration: none;
	width: 30px;
	height: 30px;
	margin: 20px 20px;
}
.champ {
/*     height:50px; */
    width:70% !important	;
}
.informatique{

	align-items:center;
}
.informatique td{
	padding: 10px;
}