.conteneur {
	background:rgba(122, 173, 221, 0.25);
}

.champsgroupes {
	max-width: 600px;
    margin: auto;
    padding: 14px;
}

#enTete {
	background-color: rgba(111, 207, 151, 0.42);
	margin-left: opx;
	margin-top: 0px;
	margin-bottom: 3px;
	display: flex;
}

#enTete img {
	width: 250px;
	display: inline;
}

td input {
	width: 100%;
	_margin: 5px;
	border: 0;
}

td textarea {
	width: 100%;
	_margin: 5px;
}

#cursusHorizontalFlex {
	display: flex;
}

#cursusHorizontalFlex > div {
	padding: 5px;
	margin: 5px;
}

.tableCursus {
	width: 80%;
    border: 1px lightgrey solid;
    margin: auto;
}

.tableCursus th {
	padding: 2px;
	background: #ffffffdd;
	text-align: center;
}

.tableCursus td {
	padding: 2px;
	padding-left: 8px;
}

.tableCursus .matiereRow {
	border-bottom: 1px lightgrey dashed;
	_display: flex;
}

.tableCursus .moduleRow {
	border-top: 1px lightgrey solid;
}

.roundButton {
	width: 32px;
	height: 32px;
	text-align: center;
	font-size: 10px;
	border-radius: 50%;
	border: 0;
	color: black;
	margin: 5px;
}