.promoHFlex {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.promoHFlex>div {
	margin: 10px;
}

#promoInspecteur, .eventDetailDiv {
	min-width: 300px;
}

#promoDescription {
	padding: 10px;
}

#promoCalendrier {
	max-width: 700px;
}

.eventDetailDiv {
	width: 100%;
}

select {
    min-width: 240px;
    width: 100%;
}

#editionPromo {
	background-color: rgba(122, 173, 221, 0.25);
	paddin-bottom: 30px;
}

.centerButtons {
	display: flex;
	justify-content: center;
	padding-bottom: 26px;
}

.date {
	margin-bottom: 15px;
}

.champsgroupes {
	max-width: 600px;
    margin: auto;
    padding: 14px;
}

#enTete {
	background-color: rgba(111, 207, 151, 0.42);
	margin-left: opx;
	margin-top: 0px;
	margin-bottom: 3px;
	display: flex;
}

#enTete img {
	width: 250px;
	display: inline;
}