.floatpop {
	position: fixed;
	right: -320px;
	width: 320px;
	height: 225px;
	top: 40vh;
	background: white;
	box-shadow: 10px 10px 39px -26px rgba(0, 0, 0, 0.75);
	
	padding: 10px;
	
    transition: 0.5s ease-in;
}

.floatpop-group>* {
	margin: 5px;	
}