<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui" xmlns:p="http://primefaces.org/ui">

<h:body>

	<ui:composition template="/template.xhtml">

		<ui:define name="head">
			<title>#{navigationBean.websiteTitle} |
				#{mbEditionUtilisateur.utilisateurEdite.coordonnees.prenom}
				#{mbEditionUtilisateur.utilisateurEdite.coordonnees.nom} -
				#{mbEditionUtilisateur.utilisateurType()}</title>
		</ui:define>

		<ui:define name="content">
			<link rel="stylesheet" type="text/css" href="css/monCompte.css" />
			<div id="enTete">
				<img src="images/cursus/logo-afc-coul-transp.png" alt="image" />
				<h2>Fiche de
					#{mbEditionUtilisateur.utilisateurEdite.coordonnees.prenom}
					#{mbEditionUtilisateur.utilisateurEdite.coordonnees.nom} -
					#{mbEditionUtilisateur.utilisateurType()}</h2>
			</div>

			<b:form enctype="multipart/form-data" id="photo">
				<div id="photo">
					<div>
						<img class="resize"
							src="#{mbEditionUtilisateur.utilisateurEdite.coordonnees.photo}"
							alt="image" /> <br />
						<div id="fileimport">
							<h:inputFile value="#{mbImport.fichier}">
								<f:ajax listener="#{mbImport.sauvegarderUtilisateurEdite()}"
									execute="photo" render="photo loginForm" />

							</h:inputFile>
						</div>
					</div>
				</div>
			</b:form>

			<b:form id="donneesperso">
				<div id="champsgroupes">
					<h3>Données personnelles</h3>
					<b:panelGrid id="grid" cellpadding="5" columns="2"
						style="margin-bottom:10px">
						<f:facet name="header">
							<p:messages id="msgs2" />
						</f:facet>
						
						<p:outputLabel value="Nom :" labelStyle="width:80px;"
							style="font-size:small;" />
						<b:inputText fieldSize="sm" placeholder="Entrer ici votre nom..."
							id="nom" value="#{mbEditionUtilisateur.utilisateurEdite.coordonnees.nom}" />

						<p:outputLabel value="Prénom :" labelStyle="width:80px;"
							style="font-size:small;" />
						<b:inputText fieldSize="sm"
							placeholder="Entrer ici votre prénom..." id="prenom"
							value="#{mbEditionUtilisateur.utilisateurEdite.coordonnees.prenom}" />

						<p:outputLabel value="Date de naissance :"
							labelStyle="width:80px;" style="font-size:small;" />
						<b:dateTimePicker
							value="#{mbEditionUtilisateur.utilisateurEdite.coordonnees.dateNaissance}"
							show-date="true" show-time="false" show-icon="true"
							readonly="false" />

						<p:outputLabel value="Adresse :" labelStyle="width:80px;"
							style="font-size:small;" />
						<b:inputText fieldSize="sm"
							placeholder="Entrer ici votre adresse..." id="adresse"
							value="#{mbEditionUtilisateur.utilisateurEdite.coordonnees.adresse.adresse}" />

						<p:outputLabel value="Code postal :" labelStyle="width:80px;"
							style="font-size:small;" />
						<b:inputText fieldSize="sm"
							placeholder="Entrer ici votre code postal..." id="codePostal"
							value="#{mbEditionUtilisateur.utilisateurEdite.coordonnees.adresse.codePostal}" />

						<p:outputLabel value="Ville :" labelStyle="width:80px;"
							style="font-size:small;" />
						<b:inputText fieldSize="sm"
							placeholder="Entrer ici votre ville..." id="ville"
							value="#{mbEditionUtilisateur.utilisateurEdite.coordonnees.adresse.ville}" />

						<p:outputLabel value="Pays :" labelStyle="width:80px;"
							style="font-size:small;" />
						<b:inputText fieldSize="sm"
							placeholder="Entrer ici votre pays..." id="pays"
							value="#{mbEditionUtilisateur.utilisateurEdite.coordonnees.adresse.pays}" />

						<p:outputLabel value="E-mail :" labelStyle="width:80px;" style="font-size:small;" />
						<b:inputText fieldSize="sm" placeholder="Entrer ici votre e-mail..." id="email"
							value="#{mbEditionUtilisateur.utilisateurEdite.coordonnees.email}" />

						<p:outputLabel value="Téléphone :" labelStyle="width:80px;"
							style="font-size:small;" />
						<b:inputText fieldSize="sm" placeholder="Entrer ici votre numéro de téléphone..."
							id="telephone" value="#{mbEditionUtilisateur.utilisateurEdite.coordonnees.telephone}" />
					</b:panelGrid>
					
					<div class="centerButtons">
						<h:commandButton ajax="true" action="#{mbEditionUtilisateur.enregistrer()}" value="Enregistrer"
						 	styleClass="boutonSpecial"	execute="donneespersoutilisateur" />
						<h:commandButton ajax="true" action="#{mbEditionUtilisateur.annuler()}" type="submit"
							value="Annuler" styleClass="boutonGris"/>
					</div>
				</div>
			</b:form>

			<b:form id="identifiants">
				<div id="champsgroupes">
					<h3>Identifiants</h3>
					<b:panelGrid id="logingrid" cellpadding="5" columns="2"
						style="margin-bottom:10px">
						<h:outputLabel value="Login :" labelStyle="width:80px;"
							style="font-size:small;"/>
						<b:inputText value="#{mbEditionUtilisateur.utilisateurEdite.login}" />
					</b:panelGrid>
				    <h:commandLink  value="générer un nouveau login" action="#{mbEditionUtilisateur.genererLogin()}">
				        <f:ajax render="@form"/>
				    </h:commandLink>

					<b:panelGrid id="mdpgrid" cellpadding="5" columns="2"
						style="margin-bottom:10px">
						<h:outputLabel value="Mot de passe :" labelStyle="width:80px;"
							style="font-size:small;"/>
						<b:inputText value="#{mbEditionUtilisateur.utilisateurEdite.password}" />
					</b:panelGrid>
					
				    <h:commandLink  value="générer un nouveau mot de passe" action="#{mbEditionUtilisateur.genererMdp()}">
				        <f:ajax render="@form"/>
				    </h:commandLink>
					

				</div>
			</b:form>

		</ui:define>


	</ui:composition>

</h:body>
</html>
