<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui" xmlns:p="http://primefaces.org/ui">

<h:body>
	<ui:composition template="/template.xhtml">
		<ui:define name="head">
			<title>#{navigationBean.websiteTitle} | Edition promotion</title>

			<link rel="stylesheet" type="text/css" href="css/editionPromo.css" />

			<!-- Accès restreint -->
			<f:metadata>
				<f:viewAction action="#{editionPromotionBean.checkAccess()}" />
			</f:metadata>
		</ui:define>

		<ui:define name="content">
			<div id="enTete">
				<img src="images/cursus/logo-afc-coul-transp.png" alt="image" />
				<h2>Edition de la promotion
				#{editionPromotionBean.promoEdite.cursus.code}#{editionPromotionBean.promoEdite.numero}</h2>
			</div>
			
			<b:form id="editionPromo">
				<div class="champsgroupes">
					<div id="promoDescription">
						<h4>Description</h4>
						<b:panelGrid id="grid" cellpadding="6" columns="2"
							style="margin-bottom:10px">
							<p:outputLabel value="Numéro" />
							<b:inputText value="#{editionPromotionBean.promoEdite.numero}" />
							
							<p:outputLabel value="Capacité minimale" />
							<b:inputText value="#{editionPromotionBean.promoEdite.capaciteMin}" />
							
							<p:outputLabel value="Capacité maximale" />
							<b:inputText value="#{editionPromotionBean.promoEdite.capaciteMax}" />
							
							<p:outputLabel value="Date de début" />
							<b:dateTimePicker show-time="false" readonly="true"
									value="#{editionPromotionBean.getDateDebut()}" />
									
							<p:outputLabel value="Date de fin" />
							<b:dateTimePicker show-time="false" readonly="true"
									value="#{editionPromotionBean.getDateFin()}" />
									
							<p:outputLabel value="Stagiaires affectés (#{editionPromotionBean.getStagiaires().size()})" />
							<select name="selectStagiaire" size="4">
								<ui:repeat var="stagiaire"
									value="#{editionPromotionBean.getStagiaires()}">
									<option value="#{stagiaire.id}">#{stagiaire.coordonnees.nom}
										#{stagiaire.coordonnees.prenom}</option>
								</ui:repeat>
							</select>
						</b:panelGrid>
					</div>
				</div>
				
				<div class="promoHFlex">
					<div id="promoCalendrier">
						<h4>Calendrier de formation</h4>
						<p:schedule initialDate="#{editionPromotionBean.dateDebut}"
							allDaySlot="false" aspectRatio="2.3" firstHour="9"
							minTime="9:00:00" maxTime="18:00:00"
							id="schedule" value="#{editionPromotionBean.eventModel}"
							widgetVar="agendaPromo" timeZone="GMT+2" locale="fr">
							<p:ajax event="eventSelect"
								listener="#{editionPromotionBean.onEventSelect}"
								update="eventDetails" />

						</p:schedule>
					</div>
					<div id="promoInspecteur">
						<h4>Détail du cours</h4>

						<b:panelGrid id="eventDetails" columns="2">

							<h:panelGroup styleClass="eventDetailDiv"
								rendered="#{editionPromotionBean.coursSelection != null}"
								layout="block">

								<p:outputLabel value="Matière"></p:outputLabel>
								<b:inputText class="" readonly="true"
									value="#{editionPromotionBean.coursSelection.matiere.nom}" />
								<p:outputLabel value="Date"></p:outputLabel>
								<b:datepicker
									value="#{editionPromotionBean.coursSelection.jour}"></b:datepicker>
								<p:outputLabel value="Début"></p:outputLabel>
								<b:selectOneMenu
									value="#{editionPromotionBean.coursSelection.blocHoraire}">
									<f:selectItem itemLabel="Matin" itemValue="0" />
									<f:selectItem itemLabel="Après-midi" itemValue="1" />
								</b:selectOneMenu>
								<p:outputLabel value="Durée"></p:outputLabel>
								<b:selectOneMenu
									value="#{editionPromotionBean.coursSelection.dureeBlocs}">
									<f:selectItem itemLabel="Demi-journée" itemValue="0" />
									<f:selectItem itemLabel="Journée entière" itemValue="1" />
								</b:selectOneMenu>
								<p:outputLabel value="Intervenant"></p:outputLabel>
								<b:inputText class="" readonly="true"
									value="#{editionPromotionBean.coursSelection.intervenant.coordonnees.nom}" />
							</h:panelGroup>
						</b:panelGrid>


					</div>
				</div>

				<div class="centerButtons">
					<b:commandButton action="#{editionPromotionBean.enregistrer()}"
						value="Enregistrer" styleClass="boutonSpecial"  update="@form" />
					<b:commandButton action="#{editionPromotionBean.annuler()}"
						value="Annuler" styleClass="boutonGris" update="@form" />
				</div>
			</b:form>
		</ui:define>
	</ui:composition>

</h:body>
</html>
