<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">

<h:body>

	<ui:composition template="/template.xhtml">

		<ui:define name="head">
			<title>#{navigationBean.websiteTitle} | Edition cursus</title>

			<link rel="stylesheet" type="text/css" href="css/editionCursus.css" />
			
			<!-- Accès restreint -->
			<f:metadata>
			    <f:viewAction action="#{editionCursusBean.checkAccess()}" />
			</f:metadata>
		</ui:define>

		<ui:define name="content">
			<div id="enTete">
				<img src="images/cursus/logo-afc-coul-transp.png" alt="image" />
				<h2>Edition du cursus #{editionCursusBean.cursusEdite.nom}</h2>
<!-- 				<h3>Des formations au service de l'emploi dans le numérique</h3> -->
			</div>

			<div id="cursusMainFlex" class="conteneur">
				<div id="cursusDescription" class="champsgroupes">
					<h3>Description</h3>
					<b:panelGrid columns="2">
						<h:outputLabel value="Nom :" />
						<b:inputText value="#{editionCursusBean.cursusEdite.nom}" />
						
						<h:outputLabel value="Code :" />
						<b:inputText value="#{editionCursusBean.cursusEdite.code}" />
						
						<h:outputLabel value="Description :" />
						<b:inputTextarea value="#{editionCursusBean.cursusEdite.description}" />
					</b:panelGrid>
				</div>

				<div id="cursusContenu" class="champsgroupes">
					<h3>Contenu pédagogique</h3>

					<h:form id="modulesForm">
						<table class="tableCursus">
							<ui:repeat var="module"
								value="#{editionCursusBean.cursusEdite.modules}">

								<tr>
									<th colspan="4" class="moduleRow">#{module.nom}</th>
								</tr>

								<ui:repeat var="mm" value="#{module.matiereModules}">
									<tr>
										<th></th>
										<td class="matiereRow">
											<div class="composantRecherche">
												<b:inputText value="#{mm.matiere.nom}"
													placeholder="Entrer une matière" typeahead="true"
													typeahead-values="#{matiereRechercheBean.getAllCSV()}"
													tiny-screen="full-width" />
											</div>
										</td>
										<td class="matiereRow">
											#{mm.matiere.dureeDemiJournees / 2} jour(s)
										</td>
										<td class="matiereRow">
											<b:commandButton
												action="#{editionCursusBean.ajouterMatiere(matiere.id)}"  styleClass="roundButton"
												 style= "background-color: rgba(111, 207, 151, 0.42);"
												value="" icon-awesome="plus" update="@form" />
											
											<b:commandButton
												action="#{editionCursusBean.retirerMatiere(matiere.id)}" styleClass="roundButton"
												 style= "background-color: rgba(111, 207, 151, 0.42);"
												value="" icon-awesome="minus" update="@form" />
												
<!-- 											<b:commandButton -->
<!-- 												action="#{editionCursusBean.deplacerMatiereHaut(matiere.id)}" -->
<!-- 												value="" icon-awesome="arrow-up" update="@form" /> -->
											
<!-- 											<b:commandButton -->
<!-- 												action="#{editionCursusBean.deplacerMatiereBas(matiere.id)}" -->
<!-- 												value="" icon-awesome="arrow-down" update="@form" /> -->
										</td>
									</tr>
								</ui:repeat>
							</ui:repeat>
						</table>
					</h:form>
				</div>
			</div>

		</ui:define>

	</ui:composition>

</h:body>
</html>
