<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui"
      xmlns:p="http://primefaces.org/ui">

<h:body>

	<ui:composition template="/template.xhtml">

		<ui:define name="head">
			<title>#{navigationBean.websiteTitle} | Gestion des
				promotions</title>

			<!-- Accès restreint -->
			<f:metadata>
				<f:viewAction action="#{listePromotionsBean.checkAccess()}" />
			</f:metadata>
			
			<link rel="stylesheet" type="text/css" href="css/listeCandidature.css" />
		</ui:define>

		<ui:define name="content">
			<div id="enTete">
				<img src="images/cursus/logo-afc-coul-transp.png" alt="image" />
				<h2>Gestion des promotions</h2>
			</div>
			<h:form>
				<div class="rechercheDiv">
					<span><b:iconAwesome value="search"></b:iconAwesome></span>
					<h:inputText value="#{listePromotionsBean.champs}" />
					
					<div class="rechercheFiltresDiv">
						<b>Filtres :</b>
						<b:selectBooleanCheckbox value="#{listePromotionsBean.showPassees}" caption="Passées">
							<p:ajax update="@form" listener="#{listePromotionsBean.rechercher}" />
						</b:selectBooleanCheckbox>
						<b:selectBooleanCheckbox value="#{listePromotionsBean.showEnCours}" caption="En cours">
							<p:ajax update="@form" listener="#{listePromotionsBean.rechercher}" />
						</b:selectBooleanCheckbox>
						<b:selectBooleanCheckbox value="#{listePromotionsBean.showFutures}" caption="Futures">
							<p:ajax update="@form" listener="#{listePromotionsBean.rechercher}" />
						</b:selectBooleanCheckbox>
					</div>

					<h:commandButton action="#{listePromotionsBean.rechercher()}"
						value="Rechercher" styleClass="boutonSpecial">
						<f:ajax execute="@form" render="@form" />
					</h:commandButton>
				</div>


				<table class="table">
					<tr>
						<th>Cursus</th>
						<th>Nom</th>
						<th>Date de début</th>
						<th>Date de fin</th>
						<th>Etat</th>
						<th></th>
					</tr>
					<ui:repeat var="promo" value="#{listePromotionsBean.listePromos}">
						<tr>
							<td><b:commandLink action="#{editionCursusBean.afficher(promo.cursus)}">#{promo.cursus.code}</b:commandLink></td>
							<td style="flex-grow: 1;"><b:commandLink action="#{editionPromotionBean.afficher(promo)}">#{promo.cursus.code}#{promo.numero}</b:commandLink></td>
							<td>
								<b:commandLink action="#{editionPromotionBean.afficher(promo)}">
									<h:outputText value="#{listePromotionsBean.getDateDebut(promo)}">
										<f:convertDateTime pattern="dd/MM/yyyy" />
									</h:outputText>
								</b:commandLink>
							</td>
							<td>
								<b:commandLink action="#{editionPromotionBean.afficher(promo)}">
									<h:outputText value="#{listePromotionsBean.getDateFin(promo)}">
										<f:convertDateTime pattern="dd/MM/yyyy" />
									</h:outputText>
								</b:commandLink>
							</td>
							<td>
								<b:commandLink action="#{editionPromotionBean.afficher(promo)}"
									value="#{listePromotionsBean.getEtat(promo)}" />
							</td>
							<td>
								<b:kebab content-disabled="false" id="kebabId">
									<b:listLinks>
										<b:navCommandLink value="Modifier" action="#{editionPromotionBean.afficher(promo)}" />
										<b:navLink></b:navLink>
										<!--         						TODO : archiver -->
										<b:navLink value="Archiver" href="#" icon-awesome="trash"></b:navLink>
									</b:listLinks>
								</b:kebab>
							</td>
						</tr>
					</ui:repeat>
				</table>

			</h:form>
		</ui:define>

	</ui:composition>

</h:body>
</html>
