<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">

<h:body>

	<ui:composition template="/template.xhtml">

		<ui:define name="head">
			<title>#{navigationBean.websiteTitle}</title>
		</ui:define>

		<ui:define name="content">
			<link rel="stylesheet" type="text/css" href="css/connexion.css" />
			<link rel="stylesheet" type="text/css" href="css/index.css" />

			<div id="enTete">
				<img src="images/cursus/logo-afc-coul-transp.png" alt="image" />
				<h1>Page de connexion</h1>
			</div>

			<h:form>
				<div class="conteneur">
					<div class="card">
						<h2>Identifiez-vous</h2>
						<h:panelGroup rendered="#{mbConnect.isConnecte()}">
							<p>Vous êtes connecté en tant que
								#{mbConnect.getNomAffiche()}.</p>
							<div class="bouton">
								<h:commandButton action="#{mbConnect.deconnect()}"
									value="Me déconnecter"
									 styleClass="boutonSpecial"/>
							</div>
						</h:panelGroup>

						<!-- 			Pas d'utilisateur connecté -->
						<h:panelGroup rendered="#{!mbConnect.isConnecte()}">
							<div>
								<table>
									<tr>
										<th>Login :</th>
										<td><b:inputText value="#{mbConnect.login}" /></td>
									</tr>
									<tr>
										<th>Mot de Passe :</th>
										<td><b:inputSecret value="#{mbConnect.password}" /></td>
									</tr>
								</table>
							</div>
							<div class="bouton">
								<h:commandButton action="#{mbConnect.connect()}" value="Connexion" styleClass="boutonSpecial" />
	
								<div class="messageErreur">
									<h:outputLabel class="messageErreur"
										value="#{mbConnect.message}" />
								</div>
							</div>
						</h:panelGroup>
					</div>
				</div>
			</h:form>

		</ui:define>

	</ui:composition>

</h:body>
</html>

