<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui" xmlns:p="http://primefaces.org/ui">

<h:body>

	<ui:composition template="/template.xhtml">

		<ui:define name="head">
			<title>#{navigationBean.websiteTitle} | Gestion de
				candidature</title>
			<link rel="stylesheet" type="text/css"
				href="css/dossiercandidature.css" />

			<!-- Accès restreint -->
			<f:metadata>
				<f:viewAction action="#{mbMonCompte.checkAccess()}" />
			</f:metadata>
		</ui:define>

		<ui:define name="content">
			<div id="enTete">
				<img src="images/cursus/logo-afc-coul-transp.png" alt="image" />
				<h2>#{editionCandidatureBean.titrePage}</h2>
				<!-- 				<h3>Des formations au service de l'emploi dans le numérique</h3> -->
			</div>

			<!-- 			<div id="enTete"> -->
			<!-- 				<h3>Des formations au service de l'emploi dans le numérique</h3> -->
			<!-- 				<h2>#{editionCandidatureBean.titrePage}</h2> -->
			<!-- 				<img src="images/cursus/logo-afc-coul.jpg" alt="image" /> -->
			<!-- 			</div> -->
			<!-- ICI DEMARRE LE BODY -->

			<h:form>
				<div id="avancementDiv">
					<h4 style="align:center; font-style: bold;">Avancement du dossier :
						#{editionCandidatureBean.getAvancement()}</h4>
					<h:panelGroup rendered="#{mbConnect.administration}">
						<b:panelGrid columns="3"
							rendered="#{! editionCandidatureBean.isDossierClos() }">
							
							<h:outputLabel for="selectPromo" value="Accepter le dossier" />							
							<b:selectOneMenu id="selectPromo" value="#{editionCandidatureBean.promoAffect}">

								<f:selectItems value="#{editionCandidatureBean.getPromos()}"
									var="promo" itemLabel="#{promo.cursus.code}#{promo.numero}"></f:selectItems>
							</b:selectOneMenu>
							
							<b:commandButton value="Affecter" action="#{editionCandidatureBean.accepterDossier()}"
								style="background-color: rgba(111, 207, 151, 0.42);"/>
							

							<h:outputLabel for="boutonRefus" value="Refuser le dossier" />

							
							<b:commandButton id="boutonRefus" value="Refus" 
								style="background-color: #f7cbd2;" action="#{editionCandidatureBean.refuserDossier()}"/>

						</b:panelGrid>
					</h:panelGroup>
				</div>
			</h:form>

			<h:form>
				<div id="conteneur">
					<!-- 			ICI LA COLONNE GAUCHE -->
					<div class="col">
						<section class="etatCivil"> <b:panelGrid id="grid2"
							cellpadding="5" columns="1" style="margin-bottom:10px">

							<h4>Etat civil</h4>

							<p:outputLabel value="Nom :" labelStyle="width:80px;"
								class="champ" style="font-size:small;" />
							<b:inputText fieldSize="sm" placeholder="Entrer ici votre nom..."
								id="nom" class="champ"
								value="#{editionCandidatureBean.dossCand.stagiaire.coordonnees.nom}" />

							<p:outputLabel value="Prénom :" labelStyle="width:80px;"
								style="font-size:small;" />
							<b:inputText fieldSize="sm"
								placeholder="Entrer ici votre prénom..." id="prenom"
								class="champ"
								value="#{editionCandidatureBean.dossCand.stagiaire.coordonnees.prenom}" />

							<p:outputLabel value="Adresse :" labelStyle="width:80px;"
								style="font-size:small;" />
							<b:inputText fieldSize="sm"
								placeholder="Entrer ici votre adresse..." id="adresse"
								class="champ"
								value="#{editionCandidatureBean.dossCand.stagiaire.coordonnees.adresse.adresse}" />

							<p:outputLabel value="Code postal :" labelStyle="width:80px;"
								style="font-size:small;" />
							<b:inputText fieldSize="sm"
								placeholder="Entrer ici votre code postal..." id="codePostal"
								class="champ"
								value="#{editionCandidatureBean.dossCand.stagiaire.coordonnees.adresse.codePostal}" />

							<p:outputLabel value="Ville :" labelStyle="width:80px;"
								style="font-size:small;" />
							<b:inputText fieldSize="sm"
								placeholder="Entrer ici votre ville..." id="ville" class="champ"
								value="#{editionCandidatureBean.dossCand.stagiaire.coordonnees.adresse.ville}" />

							<p:outputLabel value="Pays :" labelStyle="width:80px;"
								style="font-size:small;" />
							<b:inputText fieldSize="sm" class="champ"
								placeholder="Entrer ici votre pays..." id="pays"
								value="#{editionCandidatureBean.dossCand.stagiaire.coordonnees.adresse.pays}" />

							<p:outputLabel value="Téléphone :" labelStyle="width:80px;"
								style="font-size:small;" />
							<b:inputText
								placeholder="Entrer ici votre numéro de téléphone..."
								id="telephone" class="champ"
								value="#{editionCandidatureBean.dossCand.stagiaire.coordonnees.telephone}" />

							<b:selectOneMenu label="Niveau d'études :" class="champ">
								<f:selectItem itemValue="niveauDiplome" itemLabel="Bac +2"
									class="champ"></f:selectItem>
								<f:selectItem itemValue="niveauDiplome" itemLabel="Bac +3/4"
									class="champ"></f:selectItem>
								<f:selectItem itemValue="niveauDiplome" itemLabel="Bac +5"
									class="champ"></f:selectItem>
							</b:selectOneMenu>

							<b:inputText label="E-mail:" class="champ"
								placeholder="Entrer ici votre email	..."
								value="#{editionCandidatureBean.dossCand.stagiaire.coordonnees.email}">
								<f:facet name="prepend">
									<h:outputText value="@" />
								</f:facet>
							</b:inputText>
						</b:panelGrid> </section>
					</div>

					<!-- 			ICI LA COLONNE DU CENTRE -->
					<div class="col">
						<section class="etatCivil"> <b:panelGrid id="grid1"
							cellpadding="5" columns="1" style="margin-bottom:10px">

							<h4>Statut</h4>
							<br />

							<b:selectBooleanCheckbox
								value="#{editionCandidatureBean.dossCand.benefRSA}"
								caption="Bénéficiaire du RSA" />
							<b:selectBooleanCheckbox
								value="#{editionCandidatureBean.dossCand.congeCIF}"
								caption="Congé CIF" />
							<b:selectBooleanCheckbox
								value="#{editionCandidatureBean.dossCand.professionnalisation}"
								caption="Période de professionnalisation" />
							<b:selectBooleanCheckbox
								value="#{editionCandidatureBean.dossCand.demandeurEmploi}"
								caption="Demandeur d'emploi" />

							<p:outputLabel value="Numéro de demandeur d'emploi :"
								labelStyle="width:80px;" style="font-size:small;" />
							<b:inputText fieldSize="sm" class="champ"
								placeholder="Entrer ici votre numéro..." id="numPoleEmploi"
								value="#{editionCandidatureBean.dossCand.identifiantPoleEmploi}" />

							<p:outputLabel value="Autre statut :" labelStyle="width:80px;"
								style="font-size:small;" />
							<b:inputText fieldSize="sm" class="champ"
								placeholder="Renseigner ici votre statut..." id="autreStatut" />
						</b:panelGrid> <b:commandButton size="sm" value="X" styleClass="bouton1" /> <p:outputLabel
							value="Télécharger CV" labelStyle="width:80px;"
							style="font-size:small;" /> <br />

						<b:commandButton size="sm" value="X" styleClass="bouton1" /> <p:outputLabel
							value="Télécharger diplômes obtenus" labelStyle="width:80px;"
							style="font-size:small;" /> <br />
						</section>
					</div>

					<!-- 			ICI LA COLONNE DE DROITE -->
					<!-- 				https://www.primefaces.org/showcase/ui/input/checkboxMenu.xhtml -->
					<div class="col">
						<section class="informatique">
						<p>
							<h4>Connaissances en informatique</h4>
						</p>

						<table>
							<tr>
								<td><b:selectBooleanCheckbox caption="JavaScript" /></td>
								<td><b:selectBooleanCheckbox caption="HTML CSS" /></td>
							</tr>
							<tr>
								<td><b:selectBooleanCheckbox caption="Python" /></td>
								<td><b:selectBooleanCheckbox caption="Java" /></td>
							</tr>
							<tr>
								<td><b:selectBooleanCheckbox caption="C#" /></td>
								<td><b:selectBooleanCheckbox caption="C++" /></td>
							</tr>
							<tr>
								<td><b:selectBooleanCheckbox caption="TypeScript" /></td>
								<td><b:selectBooleanCheckbox caption="Ruby" /></td>
							</tr>
							<tr>
								<td><b:selectBooleanCheckbox caption="Kotlin" /></td>
								<td><b:selectBooleanCheckbox caption="Go" /></td>
							</tr>
							<tr>
								<td><b:selectBooleanCheckbox caption="Swift" /></td>
								<td><b:selectBooleanCheckbox caption="Assembly" /></td>
							</tr>
						</table>


						<p:outputLabel value="Autre :" labelStyle="width:80px;"
							style="font-size:small;" /> <b:inputText fieldSize="sm"
							class="champ" placeholder="Renseigner ici un autre langage"
							id="autreLangage" /> <b:commandButton size="sm" value="X"
							styleClass="bouton1" /> <p:outputLabel value="Télécharger CNI"
							labelStyle="width:80px;" style="font-size:small;" /> <b:commandButton
							size="sm" value="X" styleClass="bouton1" /> <p:outputLabel
							value="Télécharger photo couleurs" labelStyle="width:80px;"
							style="font-size:small;" /> <!--BOUTON VALIDER TOUTES LES INFOS + UPDATE + DELETE tous les champs -->

						<b:buttonGroup styleClass="centerButtons">
							<b:commandButton value="Enregistrer" styleClass="boutonSpecial"
								action="#{editionCandidatureBean.enregistrer()}" />
							<b:commandButton value="Annuler" styleClass="boutonGris" />
						</b:buttonGroup> <h:messages /> </section>
					</div>
				</div>
			</h:form>
			<!-- ici la fin du div conteneur -->
		</ui:define>
	</ui:composition>

</h:body>
</html>
