<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui" xmlns:p="http://primefaces.org/ui">

<h:body>
	<ui:composition template="/template.xhtml">

		<ui:define name="head">
			<title>#{navigationBean.websiteTitle}</title>
			
			<f:metadata>
				<f:viewAction action="#{notificationBean.pollNotifications()}" />
			</f:metadata>
		</ui:define>

		<ui:define name="content">
			<!-- 			Pas d'utilisateur connecté -->
			<h:panelGroup layout="block" rendered="#{!mbConnect.isConnecte()}">
				<link rel="stylesheet" type="text/css" href="css/index.css" />

				<div id="enTete">
					<img src="images/cursus/logo-afc-coul-transp.png" alt="image" />
					<h1>Bienvenue à l'AFCEPF - L'Ecole de Qualité Logicielle</h1>
				</div>

				<div class="conteneur">
					<div class="colBis">
						<div id="texteBisG" class="card">
							<h4>Je suis déjà enregistré</h4>
							
							<div class="hflex">
								<b:iconAwesome value="heartbeat" spin="false" size="2x" />
								<b:link href="connexion" value="Accéder à mon espace perso" />
							</div>
								
							<div class="hflex">
								<b:iconAwesome value="coffee" spin="false" size="2x" />
								<b:link href="#" value="J'ai oublié mes identifiants" />
							</div>
						</div>
					</div>

					<div class="colBis">
						<div id="texteBisD" class="card">
							<h4>Je souhaite candidater pour une formation</h4>
							
							<div class="hflex">
								<b:iconAwesome value="group" spin="false" size="2x" />
								<b:link href="precandidature" value="Déposer une candidature" />
							</div>
						</div>
					</div>

				</div>
			</h:panelGroup>

			<!-- 			Stagiaire -->
			<h:panelGroup layout="block" rendered="#{mbConnect.isStagiaire()}">
				<link rel="stylesheet" type="text/css" href="css/index.css" />

				<div id="enTete">
					<img src="images/cursus/logo-afc-coul-transp.png" alt="image" />
					<h1>Mon Agenda</h1>
				</div>

				<div class="conteneur">
					<div class="colBis card">
						<p:schedule allDaySlot="false" aspectRatio="2.3" firstHour="9"
							minTime="9:00:00" maxTime="18:00:00" styleClass="agendaPetit"
							view="agendaWeek" id="schedule" value="#{agendaBean.eventModel}"
							widgetVar="agendaPerso" timeZone="GMT+2" locale="fr">
						</p:schedule>
					</div>

					<div class="colBis card">
						<div id="retards">
							<h4><i class="pi pi-bell"></i>  Mes Retards </h4>
							<br />
							<h5>0</h5>
							
						</div>
						<div id="absences">
							<h4> <i class="pi pi-home"></i>  Mes Absences</h4>
							<br /> 
							<h5>0</h5><br/>
						</div>
					</div>
				</div>
				<!-- FIN DU DIV CONTENEUR -->
			</h:panelGroup>
			
			<!-- 			Intervenant -->
			<h:panelGroup layout="block" rendered="#{mbConnect.isIntervenant()}">
				<h3>Bonjour intervenant</h3>
			</h:panelGroup>

			<!-- 			Admin -->
			<h:panelGroup layout="block"
				rendered="#{mbConnect.isAdministration()}">

				<link rel="stylesheet" type="text/css" href="css/index.css" />

				<div id="enTete">
					<div>
						<img src="images/cursus/logo-afc-coul-transp.png" alt="image" />
					</div>
					<div>
						<h1>Bienvenue dans votre espace</h1>
					</div>
				</div>

				<!-- 					ICI DEMARRE LE BODY -->

				<!-- FIN DU DIV DU HAUT -->

				<div class="conteneur">
					<div class="colBis card">
						<p:schedule allDaySlot="false" aspectRatio="2.3" firstHour="9"
							minTime="9:00:00" maxTime="18:00:00" styleClass="agendaPetit"
							view="agendaWeek" id="schedule2" value="#{agendaBean.eventModel}"
							widgetVar="agendaPerso" timeZone="GMT+2" locale="fr">
						</p:schedule>

					</div>
					<!-- FIN DE LA COLONNE GAUCHE -->
					<div class="colBis card">
						<div class="hflex">
							<b:iconAwesome name="spinner" spin="true" size="2x" />
							<p:outputLabel value="Promotions à compléter"
								labelStyle="width:80px;" style="font-size:small" />
						</div>
						<ui:repeat var="action" value="#{alertesAdministrationBean.actionsPromos}">
							<div><b:link href="#{action.url}">#{action.shortMessage}</b:link></div>
						</ui:repeat>

<!-- 						<div class="hflex"> -->
<!-- 							<b:iconAwesome name="refresh" spin="true" size="2x" /> -->
<!-- 							<p:outputLabel value="Urgences du jour" labelStyle="width:80px;" -->
<!-- 								style="font-size:small;" /> -->
<!-- 						</div> -->

						<div class="hflex">
							<b:iconAwesome name="cog" spin="true" size="2x" />
							<p:outputLabel value="Candidatures en attente"
								labelStyle="width:80px;" style="font-size:small" />
						</div>
						<ui:repeat var="action" value="#{alertesAdministrationBean.actionsDossiers}">
							<div><b:link href="#{action.url}">#{action.shortMessage}</b:link></div>
						</ui:repeat>
						
						
						<div class="hflex">
							<b:iconAwesome name="circle-o-notch" spin="true" size="2x" />
							<p:outputLabel value="Traiter les indisponibilités"
								labelStyle="width:80px;" style="font-size:small" />
						</div>
						
					</div>
					<!-- FIN DU DIV COLONNE DROITE -->
				</div>
				<!-- ICI LA FIN DU DIV CONTENEUR -->
			</h:panelGroup>

		</ui:define>

	</ui:composition>

</h:body>
</html>
