<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">

<h:body>

	<ui:composition template="/template.xhtml">

		<ui:define name="head">

			<title>#{navigationBean.websiteTitle} | Gestion des
				candidatures</title>

			<!-- Accès restreint -->
			<f:metadata>
				<f:viewAction action="#{listeCandidaturesBean.checkAccess()}" />
			</f:metadata>
			
			<link rel="stylesheet" type="text/css"
				href="css/listeCandidature.css" />
		</ui:define>

		<ui:define name="content">
			<div id="enTete">
				<img src="images/cursus/logo-afc-coul-transp.png" alt="image" />
				<h2>Gestion des candidatures</h2>
			</div>
			<h:form>

				<h:panelGroup rendered="#{mbConnect.administration}">
					<div class="rechercheDiv">
						<span><b:iconAwesome value="search"></b:iconAwesome></span>
						<h:inputText value="#{listeCandidaturesBean.champs}" />

						<h:commandButton action="#{listeCandidaturesBean.rechercher()}" styleClass="boutonSpecial"
							value="Rechercher">
							<f:ajax execute="@form" render="@form" />
						</h:commandButton>
					</div>
				</h:panelGroup>

				<table class="table">
					<tr>
						<th>Cursus</th>
						<th>Nom</th>
						<th>Prenom</th>
						<th>Avancement</th>
						<th>Date de dépôt</th>
						<th></th>
					</tr>
					<ui:repeat var="dossier"
						value="#{listeCandidaturesBean.listeDossiers}">
						<tr>
							<td style="flex-grow: 1;">
								<b:commandLink action="#{editionCandidatureBean.affiche(dossier)}" 
									value="#{dossier.cursusDemande.nom}"/>
							</td>
							<td style="flex-grow: 1;">
								<b:commandLink action="#{editionCandidatureBean.affiche(dossier)}" 
									value="#{dossier.stagiaire.coordonnees.nom}"/>
							</td>
							<td style="flex-grow: 1;">
								<b:commandLink action="#{editionCandidatureBean.affiche(dossier)}" 
									value="#{dossier.stagiaire.coordonnees.prenom}"/>
							</td>
							<td style="flex-grow: 1;">
								<b:commandLink action="#{editionCandidatureBean.affiche(dossier)}" 
									value="#{listeCandidaturesBean.getAvancement(dossier)}"/>
							</td>
							<td style="flex-grow: 1;">
								<b:commandLink action="#{editionCandidatureBean.affiche(dossier)}">
									<h:outputText value="#{dossier.dateDepot}">
										<f:convertDateTime pattern="dd/MM/yyyy" />
									</h:outputText>
								</b:commandLink>
							</td>
							<td><b:kebab content-disabled="false" id="kebabId">
									<b:listLinks>
										<!-- 						      TODO : lier vers édition dossier candidature -->
										<b:navCommandLink value="Modifier"
											action="#{editionCandidatureBean.affiche(dossier)}" />
										<b:navLink></b:navLink>
										<!--         						TODO : archiver -->
										<b:navLink value="Archiver" href="#" icon-awesome="trash"></b:navLink>
									</b:listLinks>
								</b:kebab></td>
						</tr>
					</ui:repeat>
				</table>

				<h:panelGroup
					rendered="#{listeCandidaturesBean.getAllSelonProfil().isEmpty()}">
					<div class="center">
						<b>Aucun dossier à afficher.</b>
					</div>
				</h:panelGroup>

			</h:form>
		</ui:define>

	</ui:composition>

</h:body>
</html>
