<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> -->

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui" xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>EQL Portal | Dépôt de candidature</title>
	<link rel="stylesheet" type="text/css" href="css/master.css" />
	<link rel="stylesheet" type="text/css" href="css/precandidature.css" />
</h:head>

<h:body>
	<h:form>
		<div id="enTete">
			<img src="images/cursus/logo-afc-coul-transp.png" alt="image" />
			<h3>EQL : des formations au service de l'emploi dans le numérique</h3>
		</div>

		<div id="conteneur">
			<!-- la colonne gauche -->
			<div id="colGauche" class="col">
			
				<div id="titre">
					<h3>Nos cursus</h3>
				</div>
				<section class="cursus">
					<ui:repeat var="cursusLocal" value="#{mbCandidatBean.listeCursus}">
						<article>
							<div class="imageCrop">
								<img src="#{cursusLocal.photo}" alt="image"/>
							</div>

							<div>
								<b>#{cursusLocal.nom}</b>
							</div>
							<div>
								<a href="#{cursusLocal.url}" target="_blank">détails... </a>
							</div>
						
							<div id="commandButton">
								<b:commandButton styleClass="boutonSpecial"
									action="#{mbCandidatBean.choixCursus(cursusLocal)}"
									value="Choisir" update="@form" />
							</div>
						</article>
					</ui:repeat>
				</section>
			</div>

			<!-- la colonne du centre -->
			<div id="colCentre" class="col">
				<section class="formulaire">
					<h3>Formulaire de Précandidature</h3>
					<article>
						<p>Afin de pouvoir vous apporter les meilleures informations
							dans le cadre de votre demande de formation et parcours de
							professionnalisation, nous vous invitons à remplir l'ensemble des
							champs du formulaire. Nos équipes reviendront vers vous dans les
							meilleurs délais.</p>
					</article>
					<br />
					<h:form>
						<b:panelGrid id="grid" cellpadding="5" columns="2"
							style="margin-bottom:10px">
							<f:facet name="header">
								<p:messages id="msgs2" />
							</f:facet>

							<p:outputLabel value="Cursus choisi:" />
							<b:inputText placeholder="Cliquez sur un cursus..."
								readonly="true" id="nomCursus"
								value="#{mbCandidatBean.cursusChoisi.nom}" />

							<p:outputLabel value="Nom :" />
							<b:inputText placeholder="Entrer ici votre nom..." id="nom"
								value="#{mbCandidatBean.coordonnees.nom}" />

							<p:outputLabel value="Prénom :" />
							<b:inputText placeholder="Entrer ici votre prénom..." id="prenom"
								value="#{mbCandidatBean.coordonnees.prenom}" />

							<p:outputLabel value="Email :" />
							<b:inputText placeholder="Entrer ici votre email..." id="email"
								value="#{mbCandidatBean.coordonnees.email}" />

						</b:panelGrid>
						
						<!-- 					Multichoix pour conditions générales + newsletter -->
						<b:selectBooleanCheckbox caption="J'accepte les termes et les conditions générales" />
						<b:selectBooleanCheckbox caption="Tenez-moi au courant par email des prochaines réunions" />
						
						<div class="centerButtons">
							<b:commandButton value="Valider mon envoi" styleClass="boutonSpecial"
								action="#{mbCandidatBean.ajouter()}"
								disabled="#{mbCandidatBean.showInvader}" />
						</div>


						<p>
							<p:outputLabel styleClass="messageErreur"
								value="#{mbCandidatBean.messageErreur}" />
						</p>

					</h:form>
				</section>
			</div>

			<!-- 			la colonne de droite  -->
			<div id="colDroite" class="col">
				<h:panelGroup rendered="#{mbCandidatBean.showInvader}">
					<section class="bonneReception">
						<label>Merci de votre inscription !</label>
						<img src="images/cursus/spaceInvader-detoure.png" alt="image" />
					</section>
				</h:panelGroup>
			</div>

		</div>
		<!-- fin du div conteneur -->

	</h:form>

</h:body>
</html>
